a.head_menu_item_link {color: #fff;}
a.head_submenu_item_link, a.head_subsubmenu_item_link {
display: block;
font-weight: bold;
position: relative;
line-height: 1.3;
}
a.head_submenu_item_link {
  color: #037dd3;
}